html, body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 110%;
}

.be-camp00001-redirecting {
  color: #666;
  width: 100%;
  text-align: center;
}