/*
* 
* VARIABLES
* 
*/
/*
* 
* COMPONETS
* 
*/
.be-button {
  text-decoration: none;
  color: #eee;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.4em 2.5em 0.5em 2.5em;
  border-radius: 0.5em; }

/*
* 
* ELEMENTS
* 
*/
html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 115%;
  line-height: 1.5em;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.3em; }

.be-header__logo {
  max-width: 190px;
  width: 40%;
  position: absolute;
  top: 0.7rem;
  left: 0.5rem; }

.be-header__logo--circle {
  fill: none;
  stroke: #333;
  stroke-width: 7;
  stroke-miterlimit: 10; }

.be-header__logo--influence, .be-header__logo--be {
  fill: #333; }

#forkongithub a {
  background: #09f;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 1.5rem;
  position: relative;
  transition: 0.5s; }

#forkongithub a:hover {
  background: #fff;
  color: #09f; }

#forkongithub a::before, #forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff; }

#forkongithub a::after {
  bottom: 1px;
  top: auto; }

#forkongithub {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 200px;
  overflow: hidden;
  height: 200px;
  z-index: 9999; }

#forkongithub a {
  width: 200px;
  position: absolute;
  top: 35px;
  right: -85px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); }

.be-header {
  height: 100vh;
  background-image: url("../images/beInfluence-h-600.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin-bottom: 0rem; }

.be-header-row {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background: -moz-linear-gradient(top, transparent 30vh, rgba(0, 0, 0, 0.65) 70vh);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 30vh, rgba(0, 0, 0, 0.65) 70vh);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 30vh, rgba(0, 0, 0, 0.65) 70vh);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.be-text-hero-container {
  width: 100%;
  position: absolute;
  bottom: 7rem;
  text-align: center; }

.be-text-hero {
  color: white;
  font-size: 1.1em;
  width: 90%;
  text-align: center;
  text-shadow: 1px 1px black;
  width: 100%;
  margin-top: 0;
  padding-bottom: 0.75rem; }

.be-button--say-hello {
  padding-left: 4rem;
  padding-right: 4rem;
  font-weight: bolder;
  color: #fff;
  font-size: 1em;
  background-color: #09f;
  transition: 0.5s; }

.be-button--say-hello:hover, .be-button--say-hello:active {
  color: #09f;
  background-color: #fff; }

.be-nav-list {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0; }

.be-nav-list--item {
  display: inline-block; }

.be-language {
  opacity: 0.8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: #eee solid 3px; }

.be-language-link {
  border-radius: 50%; }

.be-page-down--icon {
  position: absolute;
  bottom: 0.4rem;
  opacity: 1;
  right: 0.5rem;
  width: 1em;
  line-height: 1em; }

@keyframes slidedown {
  0%, 66% {
    bottom: 1em;
    opacity: 0; }
  100% {
    bottom: 0.2em;
    opacity: 1; } }

.be-page-down--icon-1::before, .be-page-down--icon-2::before, .be-page-down--icon-3::before {
  border-style: solid;
  border-width: 0 0.25em 0.25em 0;
  border-color: #c0c0c0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0em;
  transform: rotate(45deg);
  vertical-align: top;
  width: 0.45em; }

.be-content-section {
  margin-bottom: 7rem; }

.be-content-title {
  width: 80%;
  margin-left: 10%;
  text-align: center; }

.be-content-main {
  margin-top: 5rem; }

.be-content-main--copy {
  border-left: 10px solid #eee;
  padding-left: 0.7rem;
  padding-bottom: 0.1rem;
  margin-bottom: 3rem; }

.be-concept--image {
  width: 100%;
  box-shadow: 0 5rem 7rem -3rem rgba(0, 0, 0, 0.49); }

#euro-map {
  height: 20rem;
  min-height: 20rem;
  background-color: #FFF;
  box-shadow: 0 5rem 7rem -3rem rgba(0, 0, 0, 0.49);
  background-image: url("../images/European_Union_map.svg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.be-contact-form {
  width: 100%;
  height: 58rem; }

.be-boxes-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.be-box {
  text-align: center;
  background-color: #333;
  color: white;
  font-size: 0.8em;
  min-height: 11rem;
  max-width: 15rem;
  height: auto;
  margin-bottom: 0.5rem;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-shadow: 1px 1px black; }

.be-box-1 {
  background-image: url("../images/stats/socNat1.jpg"); }

.be-box-2 {
  background-image: url("../images/stats/socNat2.jpg"); }

.be-box-3 {
  background-image: url("../images/stats/socNat3.jpg"); }

.be-box-4 {
  background-image: url("../images/stats/socNat4.jpg"); }

.be-box-5 {
  background-image: url("../images/stats/socNat5.jpg"); }

.be-box-6 {
  background-image: url("../images/stats/socNat6.jpg"); }

.be-box-7 {
  background-image: url("../images/stats/socNat7.jpg"); }

.be-box-8 {
  background-image: url("../images/stats/socNat8.jpg"); }

.be-box-9 {
  background-image: url("../images/stats/socNat9.jpg"); }

.be-content-footer {
  width: 100%;
  min-height: 5rem;
  height: 30vh;
  font-size: 0.7em;
  text-align: center;
  background-color: #000;
  color: white; }

.be-content-footer-text {
  padding: 1rem; }

/*
* 
* STRUCTURE
* 
*/
.be-row {
  width: calc(100% - 2rem);
  max-width: 40rem;
  margin: 0 auto; }

.be-full-height {
  height: 100%; }

.be-row--image {
  margin-bottom: 7rem; }

@media only screen and (orientation: landscape) {
  .be-header-row {
    background-color: rgba(0, 0, 0, 0.4);
    background: -moz-linear-gradient(top, transparent 15vh, rgba(0, 0, 0, 0.75) 100vh);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 15vh, rgba(0, 0, 0, 0.75) 100vh);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 15vh, rgba(0, 0, 0, 0.75) 100vh);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .be-text-hero-container {
    bottom: 3rem; } }

@media only screen and (min-width: 767px) {
  html, body {
    font-size: 150%; }
  .be-header {
    background-image: url("../images/beInfluence-h-1200.jpg"); }
  .be-header-row {
    background-color: rgba(0, 0, 0, 0.4);
    background: -moz-linear-gradient(top, transparent 30vh, rgba(0, 0, 0, 0.65) 100vh);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 30vh, rgba(0, 0, 0, 0.65) 100vh);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 30vh, rgba(0, 0, 0, 0.65) 100vh);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .be-text-hero-container {
    bottom: 7rem; }
  .be-content-main {
    margin-top: 8rem; } }

@media only screen and (min-width: 1024px) {
  .be-content-section {
    display: block;
    position: relative;
    width: 90%;
    max-width: 50rem;
    margin: 0 auto 8rem auto;
    display: flex;
    align-content: center;
    text-shadow: 1px 1px white;
    padding: 1rem;
    background-color: transparent;
    background: -moz-linear-gradient(left, white 35%, transparent 80%);
    background: -webkit-gradient(left top, right top, color-stop(35%, white), color-stop(80%, transparent));
    background: -webkit-linear-gradient(left, white 35%, transparent 80%);
    background: -o-linear-gradient(left, white 35%, transparent 80%);
    background: -ms-linear-gradient(left, white 35%, transparent 80%);
    background: linear-gradient(to right, white 35%, transparent 80%); }
  .be-content-section.be-europe {
    margin: 0 auto 1rem auto; }
  .be-content-section::after {
    content: "";
    background-size: cover;
    background-position: left 10rem center;
    background-repeat: no-repeat;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 1rem; }
  .be-content-section--left {
    padding-right: 0;
    background: -moz-linear-gradient(right, white 35%, transparent 80%);
    background: -webkit-gradient(right top, right top, color-stop(35%, white), color-stop(80%, transparent));
    background: -webkit-linear-gradient(right, white 35%, transparent 80%);
    background: -o-linear-gradient(right, white 35%, transparent 80%);
    background: -ms-linear-gradient(right, white 35%, transparent 80%);
    background: linear-gradient(to left, white 35%, transparent 80%); }
  .be-row--right {
    margin-left: 2rem;
    order: 2; }
  .be-content-section--left.be-row--image {
    order: 1; }
  .be-content-section--left::after {
    background-position: left -10rem center; }
  .be-concept::after {
    background-image: url("../images/beInfluence-disrupt-h-800.jpg"); }
  .be-frictionless::after {
    background-image: url("../images/beInfluence-powerful-h-800.jpg"); }
  .be-connect::after {
    background-image: url("../images/beInfluence-students-h-606.jpg");
    background-position: right -12rem center; }
  .be-row, .be-row--image {
    flex-grow: 1;
    width: 50%; }
  .be-concept--image {
    display: none; } }

/* @media only screen  and (orientation: landscape)
                    and (min-width: 900px) {
  
  html, body {
    font-size: 150%;
  }
  
  .be-text-hero-container {
    width:50%;
  }
  
  .be-header::after {
    width: 55vw;
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
    background-image: url('../images/beInfluence1-h-1200.jpg');
  }
  
  .be-join__banner-container {
    // clip-path: polygon(0 0, 90% 0, 89.2% 98%, 0 100%);
  }
  
}

@media only screen  and (min-width: 1025px) {
  
  .be-text-hero-container {
    position: absolute;
    top: 7rem;
    right: 0rem;
    z-index: 3;
  }
  
  .be-header::after {
    width: 55vw;
  }
  
  .be-text-hero-container {
    max-width: 747px;
    margin-top: 0vh;
  }
  
  .be-text-hero {
    color: white;
    font-size: 0.8em;
    text-shadow: 1px 1px black;
  }
  
  .be-button--say-hello {
    color: #36afff;
    text-shadow: 1px 1px black;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.4);
  }

  
}

@media only screen  and (min-width: 1600px) {
  
  .be-header::after {
    //background-position: bottom -120px right;
  }
  
  .be-text-hero-container {
    position: absolute;
    top: 6rem;
    right: 0rem;
    z-index: 3;
  }
  
} */
/*
* 
* UTILITIES
* 
*/
/*Hide text but still accessible to */
.be-text-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
